1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [3]:
x = "string"
print(x)

string

In [4]:
stationery_list = ['pen','laptop','scale','books']
print(stationery_list)

['pen', 'laptop', 'scale', 'books']

In [6]:
float_num = 65.65
print(float_num)

65.65

In [25]:
tuple_num = (1, 2, 3, 4)
print(tuple_num)

(1, 2, 3, 4)

2. Given are some following variables containing data:
(i) var1 = ''
(ii) var2 = '[DS, ML, Python]'
(iii) var3 = ['DS','ML','Python']
(iv) var4 = 1.
what will be the data types of the above given variable.

In [7]:
var1 = ''
type(var1)

str

In [8]:
var2 = '[DS, ML, Python]'
type(var2)

str

In [9]:
var3 = ['DS','ML','Python']
type(var3)

list

In [10]:
var4 = 1.
type(var4)

float

3. Explain the use of the following operators using an examples
(i) /
(ii) %
(iii) //
(iv) **

In [11]:
# The divsion operator (/) is used to divide 2 operands
689 / 3

229.66666666666666

In [12]:
# The modulo operator (%) gives the remainder when an operand divides the other operand
37 % 6

1

In [21]:
# The floor division operator (//) always returns an integer value by discarding the fractional part of a number
-3 // 2

-2

In [20]:
3 // 2

1

In [22]:
# The (**) operator raised an operand to the power of some value
2 ** 3

8

4. Create a list of length 10 of your choice containing multiple types of data. Using a for loop print the element and its data type

In [31]:
l = [1, 2.24, 0, True, 3 + 4j, 'Ice', 'Campbell Biology', 7.8, 89, -68.0]
for i in l :
    print(f'The data type of {i} is: ')
    print(type(i))

The data type of 1 is:
<class 'int'>
The data type of 2.24 is:
<class 'float'>
The data type of 0 is:
<class 'int'>
The data type of True is:
<class 'bool'>
The data type of (3+4j) is:
<class 'complex'>
The data type of Ice is:
<class 'str'>
The data type of Campbell Biology is:
<class 'str'>
The data type of 7.8 is:
<class 'float'>
The data type of 89 is:
<class 'int'>
The data type of -68.0 is:
<class 'float'>

5. Using a while loop, verify if the number A is purely divisible by number B and if so the how many times it can be divisible

In [37]:
A = int(input('Enter the dividend: '))
B = int(input('Enter the divisor: '))

count = 0   
while (A % B == 0):
    A = A / B
    count += 1
    
if count > 0:
    print("A is divisible by B",count,"times.")
else:
    print("A is not divisible by B")

Enter the dividend: 36
Enter the divisor: 3
A is divisible by B 2 times.

6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [33]:
num_list = [2, 54, 27, 15, 17, 18, 9, 3, 99, 23, 45, 56, 89, 0, 25, 36, 66, 98, 21, 7, 20, 13, 41, 46, 76, 999]
for i in num_list :
    if (i % 3 == 0):
        print(f'{i} is divisible by 3')
    else :
        print(f'{i} is not divisible by 3')

2 is not divisible by 3
54 is divisible by 3
27 is divisible by 3
15 is divisible by 3
17 is not divisible by 3
18 is divisible by 3
9 is divisible by 3
3 is divisible by 3
99 is divisible by 3
23 is not divisible by 3
45 is divisible by 3
56 is not divisible by 3
89 is not divisible by 3
0 is divisible by 3
25 is not divisible by 3
36 is divisible by 3
66 is divisible by 3
98 is not divisible by 3
21 is divisible by 3
7 is not divisible by 3
20 is not divisible by 3
13 is not divisible by 3
41 is not divisible by 3
46 is not divisible by 3
76 is not divisible by 3
999 is divisible by 3

7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutability and Immutability 
An object whose internal state (data) can be changed is called a Mutable object. Similarly, an object whose internal state (data) can not be changed is called an Immutable object.
Mutable - 
Lists,
Sets,
Dictionaries

Immutable:
Numbers (int, float, decimal, boolean etc.),
Strings,
Tuples,
Frozen Sets

In [34]:
Fruit_list = ['Apple','Pineapple','Ice Apple','Sugar Apple','Green Apple']  # Mutable
print(Fruit_list)
Fruit_list[0] = 'Doctor'
print(Fruit_list)

['Apple', 'Pineapple', 'Ice Apple', 'Sugar Apple', 'Green Apple']
['Doctor', 'Pineapple', 'Ice Apple', 'Sugar Apple', 'Green Apple']

In [35]:
z = 'Karthik' #immutable
z[0] = o

NameError: name 'o' is not defined